body{
  border: 10px solid #01a05e;
  margin: 0;
  text-align: center;
}

.page{
  border: 10px solid #89C5CC;

  width: 1000px;
  margin: 65px auto 0;
}

header{
  border: 10px solid #c0cc89;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

nav ul{
  border: 10px solid #89ccbb;

  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 48px;

  margin: 0;
  padding: 0;
}

main{
  border: 10px solid #cc8989;

  display: flex;
}

main h1{
  width: 489px;
  margin:40px 0;
}

main p{
  width: 438px;
  margin:0 0 40px;

  color: #7D7987;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

footer{
  border: 10px solid #b189cc;
}

h1{
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-size: 49px;
  line-height: 56px;
}

h1 span{
  font-weight: 700;
  color:#89C5CC;
}

button{
  width: 179px;
  height: 56px;
  gap: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #69B99D;

  color: #F9F9F9;
  font-family: DM sans;
  font-size: 16px;
  font-style: normal;

  border: 0;
  border-radius: 4px;
}

footer{
  width: 592px;
  height: 28px;
  gap: 5px;
  margin: 0 auto 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
}

#balls{
  position: fixed;
  right: 0;
  bottom: 0;
}