body{
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

.page{
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav{
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  text-decoration: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 48px;

  margin: 0;
  padding: 0;
}

ul li a{
  opacity: 1;
}

a {
  color: #1F1534;
  text-decoration: none;
}

a:hover, footer a:hover{
  font-weight: bold;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main h1{
  width: 489px;
}

main p{
  width: 438px;
  margin:40px 0 40px;

  color: #7D7987;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

h1{
  color: #1F1534;
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-size: 49px;
  line-height: 56px;
}

h1 span{
  font-weight: 700;
  color:#89C5CC;
}

button{
  background-color: #69B99D;
  padding: 14px 32px 15px;
  border: 0;
  border-radius: 4px;
  gap: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #F9F9F9;
  font-family: DM sans, sans-serif;
  font-size: 16px;
  font-style: normal;
}

button:hover{
  background-color: #4caa89;
  transition: 10ms;
}

footer{
  width: 592px;
  height: 28px;
  gap: 5px;
  margin: 80px auto 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

#balls{
  position: fixed;
  right: 0;
  bottom: 0;
}