body{
  margin: 0;
  padding: 20px;
  border: 10px solid #01a05e;
}

.page{
  padding: 20px;
  border: 10px solid #89C5CC;
}

header{
  padding: 20px;
  border: 10px solid #c0cc89;
}

main{
  padding: 15px;
  border: 10px solid #cc8989;
}

footer{
  padding: 15px;
  border: 10px solid #b189cc;
}

h1{
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-size: 49px;
  line-height: 56px;
}

h1 span{
  font-weight: 700;
  color:#89C5CC;
}